* {
	padding: 0;
	margin: 0;
	outline: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url(img/fondo2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	font-family: 'Poppins', sans-serif;

}

.imagen{
	position: absolute;
    bottom: 90px;
	height: 150px;
}

.card {
	background: linear-gradient(135deg,
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.1),
		);
	backdrop-filter: blur(21px);
	-webkit-backdrop-filter: blur(21px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
	border: 1px solid rgba(255, 255, 255, 0.16);
	border-radius: 24px;
	padding: 48px;


}

.card :where(h2, p) {
	color: #ddd;
	text-align-last: center;
	margin: 0;
}
.container{
	height: 100vh;
	width: 75	vw;
	text-align:center;
	
	
}

.love,.yes,.no,.back{padding-top: 15%;
		
		}
.love span, .yes span{color:#4959b3;}
h2{font-size: 72px;margin-bottom: 20px;}
a{font-family: 'Poppins', sans-serif; font-size: 24px;text-decoration: none;padding: 5px 10px;
	margin-top: 20px;border:3px solid #ddd; border-radius: 10px;}

/*Botones*/
#no{color: #333; background: #eee;margin-right: 50px;}
#yes{color:#333; background: #eee;}
#back{color: #333; background: #eee;}

